@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}

body {
  background: theme(colors.black);
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  padding: 0 auto;
}

h1 {
  font-family: 'Inter'
}